<!DOCTYPE html>
<html>
    <head>
        <title> Dylans Shop</title>
         <%- include('header') -%>
    </head>
        
    <body>
    <div id="main" class="container">
    </div>
    <script>
    window.onload = ()=>{
    let params = window.location.search;
    let urlParams = new URLSearchParams(params);
    let productID = urlParams.get("id");
    if(productID != null && typeof(productID)!= 'undefined'){
        fetch('http://127.0.0.1:8000/api/products/'+productID)
        .then(resp => resp.json())
        .then(data => {
            console.log(data);
            if('detail' in data){
                alert("error");
            }
            else{
                let name = data['name'];
                let price = data['price'];
                let desc = data['description'];
                let image= data['image'];
                let main = document.getElementById("main")

                let nameNEW = document.createElement("h2");
                nameNEW.innerHTML = name;
                main.appendChild(nameNEW);

                let priceNEW = document.createElement("h2");
                priceNEW.innerHTML = price;
                main.appendChild(priceNEW);
                
                let description = document.createElement("p");
                description.innerHTML = desc;
                main.appendChild(description);
                
                let imageNEW = document.createElement("img");
                imageNEW.src = image
                main.appendChild(imageNEW);

                let addToCart = document.createElement("button");
                addToCart.innerHTML = "Add to cart";
                addToCart.onclick = ()=>{
                    fetch('http://127.0.0.1:8000/apiadd/', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer '+localStorage.getItem("access")
                        },
                        body: JSON.stringify({
                            "product_id": parseInt(productID)
                        })
                    })
                    .then(response=>response.json())
                    .then(data=>{
                        alert("Successfully added to cart");
                        console.log(data)
                        });	
                }
                main.appendChild(addToCart);                
            }
        });
    }
    }
    </script>
</body>
<%- include('footer') -%>
</html>

