<html>
    <head>
        <%- include('header') -%>
			<title>Register Page</title>
    </head>
    <body>
        <h1>Register</h1>
        <!--create register-form with username and password-->
        <form id="register-form">
            <label for="username-input">Username</label>
            <input type="text" name="username-input" id="username" placeholder="Your username" required>
            <label for="password-input">Password</label>
            <input type="password" id="password" name="password-input" placeholder="Your password" required>
            <label for="email-input">Email</label>
            <input type="email" id="email" name="email-input" placeholder="Your email" required>
            <button type="submit">Register</button>
        </form>
				<script>
					// create a validation for register-form on submit
                    let form = document.getElementById('register-form');
                    form.addEventListener('submit', function(e) {
                        e.preventDefault();
                        // get the username and password
                        let username = document.getElementById('username').value;
                        let password = document.getElementById('password').value;
                        let email = document.getElementById('email').value;
                        // create a new user
                        fetch("http://127.0.0.1:8000/apiregister/", {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({username: username, password: password, email: email})
                        }).then(response=>response.json())
                        .then((data)=>{
                            console.log(data);
                            window.location.href = "/";
                        });
                    });
				</script>
    <%- include('footer') -%>
    </body>
</html>